{% if not(messages is empty) %}
<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
    <h2><a href="{{ path('news_list') }}">Aktuelles</a></h2>
    {% for message in messages %}
      <div class="list-group">
        <a href="{{ path('news_detail', {'id': message.id}) }}" class="list-group-item">
          <h3 class="list-group-item-heading">{{ message.title }}</h3>
          <p class="list-group-item-text">{{ message.summary }}</p>
        </a>
      </div>
    {% endfor %}
  </div>
</div>
{% endif %}
