{% block sidebar_left %}
<div id="sidebar_left">
  <nav role="navigation">
    <ol>
      <li class="tile nav-1"><a href="inhalt.html" class="text-hide">Man</a></li>
      <li class="tile nav-2"><a class="text-hide">Ver</a></li>
      <li class="tile nav-3"><a class="text-hide">Ter</a></li>
      <li class="tile nav-4"><a class="text-hide">Unt</a></li>
      <li class="tile nav-5"><a class="text-hide">Akt</a></li>
    </ol>
  </nav>
</div>
{% endblock %}