{% extends "SCTiengenWebSiteBundle:Page:base.html.twig" %}

{% use "SCTiengenWebSiteBundle::blocks.html.twig" %}

{% block page_main_inner %}
{{ sonata_block_render({'name': 'container'}, {'template': 'SCTiengenWebSiteBundle::container.html.twig'}) }}
  {% set subMenu = knp_menu_get('nav-main') %}
  {% if subMenu.hasChildren %}
<nav role="navigation">
    {% for list in subMenu.children|slice(0, 4)|batch(2) %}
  <div class="row">
      {% for item in list %}
    <div class="col-xs-12 col-sm-4 col-md-3{% if loop.index == 1 %} col-sm-offset-2 col-md-offset-3{% endif %}">
      <section class="tile nav-{{ item.name }}">
        <div class="bg">
          <div class="fg">
            <span><a href="{{ item.uri }}">{{ item.label }}</a></span>
          </div>
        </div>
      </section>
    </div>
      {% endfor %}
  </div>
    {% endfor %}
</nav>
  {% endif %}
{% endblock %}

{% block sidebar -%}{%- endblock %}
