{% extends "SCTiengenWebSiteBundle:Page:base.html.twig" %}

{% use "SCTiengenWebSiteBundle::blocks.html.twig" %}

{% block sidebar -%}
  {{ parent() }}
{%- endblock %}

{% block page_main_inner -%}
  {% block breadcrumb -%}
    {% set menu = knp_menu_get('nav-breadcrumb') %}
{#{ dump(menu) }#}
    {% if menu.hasChildren %}
<div class="row">
  <div id="nav_bread" class="col-sm-6">
    <ol class="breadcrumb">
    {% block breadcrumb_inner -%}
      {% for item in menu.children %}
     <li><a href="{{ item.uri }}">{{ item.label }}</a></div>
      {%- endfor %}
    {%- endblock %}
    </ol>
  </div>
</div>
   {% endif %}
  {%- endblock %}
{{ sonata_block_render({'name': 'container'}, {'template': 'SCTiengenWebSiteBundle::container.html.twig'}) }}
{%- endblock %}
