@charset "UTF-8";
html {
  height: 100%;
}
body {
  background: none #4A6224;
}
@media (min-width: 479px) {
  body {
    background: url("../images/page-bg-grass.jpg") repeat scroll 0 0 #4a6224;
  }
}
#page {
  background-image: url("../images/header-banner.png"), url("../images/footer-bg.png");
  background-repeat: no-repeat, repeat-x;
  background-position: 0 -144px, left bottom;
  background-color: rgba(255, 255, 255, 0.9);
  background-size: 100% 520px, auto;
  border: 1px solid #cdcdcd;
  box-shadow: 1px 2px 3px #333;
  padding: 0 15px 50px;
  margin-bottom: 41px;
  margin-top: 20px;
}
@media (min-width: 479px) {
  #page {
    margin-left: 28px;
    min-height: 290px;
  }
}
@media (min-width: 769px) {
  #page {
    margin-left: 64px;
    min-height: 470px;
  }
}
#page_header {
  height: 150px;
  position: relative;
}
#page_header #logo {
  position: absolute;
  right: 6%;
  top: 13px;
}
#page_header #logo-50 {
  position: absolute;
  left: 2%;
  top: 13px;
}
.breadcrumb {
  background-color: rgba(245, 245, 245, 0.3);
  display: inline;
  margin-bottom: 0px;
  padding: 1px 10px 2px 5px;
}
.breadcrumb > li {
  color: #333333;
  font-size: 90%;
}
.breadcrumb > li a {
  color: #333333;
}
.breadcrumb > li + li:before {
  color: #115aa1;
  content: "› ";
  padding: 0 5px;
}
.breadcrumb > li:first-child:before {
  color: #115aa1;
  content: "» ";
  padding: 0 5px;
}
.page-header {
  border-bottom: none;
  margin-top: 0;
}
#page_main .tile {
  border: 1px solid #9a9a9a;
  box-shadow: 0px 20px 35px #111;
  height: 159px;
  width: 159px;
  margin: 15px auto 15px;
  position: relative;
}
@media (min-width: 1200px) {
  #page_main .tile {
    height: 239px;
    width: 239px;
  }
}
#page_main .tile span {
  background-color: rgba(17, 90, 161, 0.7);
  bottom: 0;
  display: block;
  padding: 3% 0;
  position: absolute;
  text-align: center;
  width: 100%;
}
#page_main .tile span:hover {
  background-color: rgba(255, 255, 255, 0.7);
}
#page_main .tile span:hover a {
  color: #115aa1;
}
#page_main .tile span a {
  color: #FFFFFF;
  font-size: 120%;
  font-weight: bold;
}
#page_footer {
  background-color: #f5f5f5;
  border: 0 solid #ccc;
  border-width: 1px 0;
  bottom: 5px;
  font-size: 75%;
  height: 27px;
  padding: 2px 0;
  position: fixed;
  width: 100%;
}
#page_footer .item {
  float: left;
}
#page_footer .item + .item:before {
  color: #ccc;
  content: "| ";
  padding: 0 5px;
}
@media (max-width: 479px) {
  #sidebar_left {
    display: none;
  }
}
@media (min-width: 479px) {
  #sidebar_left {
    margin-left: -15px;
  }
  #sidebar_left nav {
    padding-top: 70px;
    position: fixed;
  }
  #sidebar_left nav ol {
    padding-left: 0;
  }
  #sidebar_left nav li {
    border: 0 solid #bcbcbc;
    border-width: 0 1px 1px 1px;
    display: block;
    list-style: none;
    position: relative;
    text-align: center;
    height: 44px;
    width: 44px;
  }
  #sidebar_left nav li a {
    bottom: 8px;
    color: #FFFFFF;
    display: block;
    font-size: 120%;
    font-weight: bold;
    margin: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    color: transparent;
    font: 0px/0 a;
    text-shadow: none;
  }
  #sidebar_left nav li:first-child {
    border-top-width: 1px;
  }
}
@media (min-width: 479px) and (min-width: 769px) {
  #sidebar_left nav li {
    height: 80px;
    width: 80px;
  }
}
.tile {
  background-size: 100% 100%;
}
.tile.nav-1 {
  background-image: url("../images/kachel1.jpg");
}
.tile.nav-2 {
  background-image: url("../images/kachel2.jpg");
}
.tile.nav-3 {
  background-image: url("../images/kachel3.jpg");
}
.tile.nav-4 {
  background-image: url("../images/kachel4.jpg");
}
.tile.nav-5 {
  background-image: url("../images/kachel5.jpg");
}
.jumbotron h1 {
  font-size: 42px;
}
.nav > li > a {
  font-size: 150%;
}
#socialshareprivacy {
  float: right;
}
#socialshareprivacy .social_share_privacy_area {
  margin: 0 !important;
}
#socialshareprivacy .social_share_privacy_area li.settings_info {
  top: 0;
}
